@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
  background-image: url('/Background.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.register {
  --green: rgb(177, 49, 250);
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(179, 3, 255, 0.1) 1%, transparent 40%,transparent 60% , rgba(245, 27, 253, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(234, 27, 253, 0.4), 0 0 9px 3px rgba(238, 27, 253, 0.1);
}

.register:hover {
  color: #b131fa;
  box-shadow: inset 0 0 10px rgba(242, 27, 253, 0.6), 0 0 9px 3px rgba(193, 27, 253, 0.2);
}

.register:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(193, 27, 253, 0.1) 40%,rgba(185, 27, 253, 0.1) 60% , transparent 100%);
}

.register:hover:before {
  transform: translateX(15em);
}


.brochure {
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.time {
  color: rgba(255, 255, 255, 0.692);
  padding: 10px 15px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.166);
  background: rgba(255, 255, 255, 0.068);
  overflow: hidden;
  gap: 8px;
  border-radius: 5px;
  margin: 0 5px;
  transition: 0.2s;
  border: 1px solid transparent;
}


.card {
  color: rgba(255, 255, 255, 0.692);
  background: rgba(255, 255, 255, 0.068);
  border-radius: 40px;
  margin: 0 5px;
  transition: 0.2s;
  border: 1px solid transparent;
}

.card:active {
  transform: translateY(2px);
  box-shadow: none;
}

.card:hover {
box-shadow:  10px 10px 20px #32323234,
             10px 10px 20px #ffffff11;
}


.sponsors{
  background-image: url('/Sponsors.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.card1 {
  color: rgba(255, 255, 255, 0.692);
  background: rgba(255, 255, 255, 0.068);
  border-radius: 40px;
  margin: 0 5px;
  transition: 0.2s;
  border: 1px solid transparent;
}

.card1:active {
  transform: translateY(2px);
  box-shadow: none;
}


.domains{
  color: rgba(255, 255, 255, 0.692);
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.domains:hover {
  rotate: 8deg;
}

.domainbg{
  background-image: url('/Domains.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .glass {
  position: relative;
  width: 280px;
  height: 300px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.container .glass svg {
  font-size: 2.5em;
  fill: #fff;
}

